ONESIGNAL_APP_ID=5c147934-b2d0-4a63-b92f-01964f8902cf
DEFAULT_API_URL_ANDROID=https://mohsenkadmapple-001-site1.dtempurl.com
DEFAULT_API_URL_IOS=https://mohsenkadmapple-001-site1.dtempurl.com
DEFAULT_API_URL_OTHER=https://mohsenkadmapple-001-site1.dtempurl.com
