ONESIGNAL_APP_ID=your-onesignal-app-id
DEFAULT_API_URL_ANDROID=https://mohsenkadmapple-001-site1.dtempurl.com
DEFAULT_API_URL_IOS=https://mohsenkadmapple-001-site1.dtempurl.com
DEFAULT_API_URL_OTHER=https://mohsenkadmapple-001-site1.dtempurl.com
